.header {
  background-color: $rd-white;
  font-size: rem(12);
  font-weight: $font-bold;
  padding: 0 rem(16);
  height: $header-height-mb;
  @media (min-width: $rd-desktop) {
    padding: rem(40) 0;
  }

  &__wrapper {
    @include wrapper(85%, rem(1200));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    font-size: rem(24);
    @media (min-width: $rd-desktop) {
      font-size: rem(40);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__menu-icon {
    font-size: rem(14);
    cursor: pointer;
  }

  &__menu {
    position: fixed;
    top: $header-height-mb;
    left: 0;
    width: 100%;
    height: calc(100vh - #{$header-height});
    background-color: $rd-green;
    text-align: center;
    padding-top: rem(24);
    transform: translate(100%);
    transition: transform 0.6s;
    z-index: $z-menu;

    @media (min-width: $rd-desktop) {
      top: $header-height;
    }

    &--visible {
      transform: translate(0);
    }
  }

  &__anchor {
    display: inline-block;
    font-weight: $font-light;
    padding: 1.5em;
    letter-spacing: rem(0.8);
  }

  &__menu-item {
    font-size: rem(19);
  }
}
