.hero {
  &__info {
    padding: 0 rem(15) 1rem rem(16);
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    cursor: pointer;

    &--active {
      border-bottom: 4px solid $rd-grey;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 1rem;
    right: 0;
    color: $rd-green;
    transition: transform 0.3s;

    &--up {
      transform: rotate(-180deg);
    }
  }

  &__image {
    width: 100%;
    z-index: $z-content;
  }

  &__bubble {
    display: none;
  }

  &__subtitle {
    height: auto;
    max-height: 0;
    transition: max-height ease 0.3s;
    overflow: hidden;

    &--active {
      max-height: rem(300);
      padding: rem(16) 0 rem(16);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    padding-top: rem(10);
    flex-grow: 1;
  }

  &__button {
    flex: 1;

    &:first-child {
      margin-right: rem(30);
    }
  }

  @media (min-width: $rd-desktop) {
    padding-top: rem(70);
    margin-bottom: rem(64);

    &__info {
      padding-right: 5rem;
    }

    &__container {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
    }

    &__arrow {
      right: -2.2rem;
    }

    &__bubble {
      &--1 {
        @include bubble(#{rem(128)}, auto, auto, 33%);
      }

      &--2 {
        @include bubble(#{rem(72)}, 53%, auto, auto, $z-above, bubble-left);
      }

      &--3 {
        @include bubble(#{rem(-50)}, 0, auto, auto, $z-below);
      }

      &--4 {
        @include bubble(auto, -4%, 22%, auto);
      }
    }
  }
}
