/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/* COLOURS */
$rd-green: #36f5bf;
$rd-black: #282828;
$rd-grey: #e5e5e5;
$rd-white: #ffffff;

/* FONTS */
$f-poppins: Poppins, 'sans serif';
$font-light: 400;
$font-bold: 800;

/* SIZES */
$header-height: 5rem;
$header-height-mb: 3rem;
$footer-height: $header-height;

/* Z-INDEX */
$z-below: 0;
$z-content: 1;
$z-above: 2;
$z-menu: 5;

/* REM */
$base-fontsize: 16;

/* BREAKPOINTS */
// Large screen / tablet portrait
$rd-desktop: 1024px !default;
